/*/ iz glavnog css-a*/
body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: left;
 /*background : #77c4d3;*/

}
.pozadina{
 
    padding: auto;
    background: #86c2ff;
    background-size: cover;

}
.sadrzaj{
    width: 290px;
    height: 75%;
    background : rgba(255, 255, 255, 0.9);
    padding : 5%;
    margin-top: 5px; 
    
}
.sadrzaj h1{
    color: black;
    margin-bottom: 35px;
}
.desno{
text-align: center;
  
}
footer{
visibility: hidden;
}
/* iz dokumentacije*/
.doku{
      
    width : auto;
    height: auto;
    background : rgba(255, 255, 255, 0.9);
    padding : 2%;
    margin-top: 5px;  
}
.slika{
    width : 30px;
    height: 60px;

   
}
.doku img{
    width :200px;
    height: 70px;
}
.podaci{ 
    margin-left:  200px;
    margin-top: -240px;
    color: white;
 
}
.doku h1{
    color: white;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);
}
p {
    font-family: inherit;
    font-size: 14px;
    line-height: 150%;
    text-align: justify;
}
/* iz greske*/
input:invalid {
    border: 2px solid red;
}
fieldset.greske{

    font-size: 14px;
    width:  25%;
    padding: auto;
    float: right;
    
}
p.isp_greski{
  font-size: 14px; 
  line-height: 130%;
  color: red;
}
ul {
 
  
 margin-top: 0px;
  padding: 0px 0px 0px 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li  {
    margin-left: 20px;
    width: 80%;
    text-align: center;
    margin-top: 3px;
  cursor: pointer;
  letter-spacing : 2px; 
  padding: 15px 20px;
  display: inline-grid;
  text-transform : uppercase;
  font-weight : normal;
  background: #262123;
  background-image: -webkit-linear-gradient(top, #262123, #705f5d);
  background-image: -moz-linear-gradient(top, #262123, #705f5d);
  background-image: -ms-linear-gradient(top, #262123, #705f5d);
  background-image: -o-linear-gradient(top, #262123, #705f5d);
  background-image: linear-gradient(to bottom, #262123, #705f5d);
}
a{
   color: white;
}
ul li:hover {
  background: #ea2e49;
  color: white;
}
ul li ul {
  padding: 0;
  

  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover {
    background: #666;
}
ul li:hover ul {
  display: block;}
.prijavljeni{
visibility: hidden;
margin-top: auto;  
margin-right: auto;
text-align: right;
    
}
h3:hover{
   color: red;  
}
.naslov{
    margin-bottom: -25px;
    margin-top: -20px;
    margin-left: -10px;
    color: white;
    text-align: left;
    font-size:20px;
    font-weight: 800;
    font-family: sans-serif;
}
/*iz registracijaPrijavi_se*/
.zab{
    color: black;
}
.regOkvir{
    
    width : 90%;
    height: 135%;
    background : rgba(255, 255, 255, 0.9);
    padding : 5%;
    margin-top: 5px;
    
}
fieldset {
    border: 2px #555555 solid;
    font-size: 16px;
}
fieldset.prijava{
    font-size: 16px;
    width:  25%;
    padding: auto;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;
}
input.reg{
    width: 40%;
    padding: 8px 20px;
    
    box-sizing: border-box;
    display: inline-block;
    
}
label{
    font-size: 16px;
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
}
input.prijava {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.gumb{
     
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;  
}
.gumb:hover{
    background-color: #555555;
    color: white;
}
a[target="_blank"] {
    text-decoration: none;
}
h5 {
    text-align: center;
    cursor: pointer;
    margin: auto;
}
h5:hover{
    font-size: 110%;
}
/*iz tablice*/
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
font-size: 8px;
width: 300px;
border-collapse:collapse;
border-spacing: 0;
}
th {
background: #DFDFDF; /* Darken header a bit */
font-weight: bold;

text-align:  center;
padding-bottom:2px;
padding-top: 2px; 
}
td {
background: #FAFAFA;
text-align: center;
padding-bottom:1px;
padding-top: 1px;
padding-right: 1px;
}
.tab{
    margin-left: -15px;
    width: 290px;
   margin-top:  15px;
   display: list-item;  
}
h7{
    
    color: black;
    
}
.red{
    
    color: red;
    
}
/*Padajući izbornik*/
.dropbtn {
  cursor: pointer;
  letter-spacing : 2px; 
  text-transform : uppercase;
  padding: 15px 10px 15px 10px;
  border: none;
  color: white;
  width: 203px;
  text-decoration: underline;
  /*sjene pozadine*/
  background-image: -webkit-linear-gradient(top, #262123, #705f5d);
  background-image: -moz-linear-gradient(top, #262123, #705f5d);
  background-image: -ms-linear-gradient(top, #262123, #705f5d);
  background-image: -o-linear-gradient(top, #262123, #705f5d);
  background-image: linear-gradient(to bottom, #262123, #705f5d);
}
.odjava{
    cursor: pointer;
    background-image: url("../slike/odjava.jpg");
    border-radius: 30px;
    background-size: cover;
    width:10px ;
    height:10px;
    margin-left: 56px;
    padding: 12px 16px;
}
.opcije{
    position: relative;
    margin-right: -52px;
    top:  -243px;
    
    cursor: pointer;
    background-image: url("../slike/opcije.png");
    border-radius: 15px;
    float: right;

    background-size: cover;
    width:40px ;
    height:40px;
    border: 1px solid white;
}
.opcije:hover .dropdown-content{
    display: block;
}
.dropdown-content {
    font-size: 70%;
    display: none;
    margin-left: -130px;
    margin-top: 40px;
    background-color: #f9f9f9;
    min-width: available;

}
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: auto;
}
.dropdown-content a:hover {
    background-color: #d3d1d1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover  {
    background-color: #ea2e49;
}
/*pregled lokacija u divovima*/
div.pregled img{
    width: 300px;
    height: 100px;
    padding-top: 2px;
}
div.pregled {
    background:#d3d1d1;
    margin-bottom: 20px;
    margin-left: -5px;
    height: 250px;
    width: 300px;
    
    /*sjena na divu*/
    -webkit-box-shadow:0 0 20px rgb(59,150,206);
    -moz-box-shadow:0 0 20px rgb(59,150,206);
    box-shadow:0 0 20px rgb(59,150,206);
}
div.pregled p {
    line-height: 100%;
    margin-left: 15px ;
    margin-top:  0px;
    text-transform : uppercase;
    font-weight: bold;
}
div.pregled a {
    padding: 14px 5px;
    margin-left: 10px ; 
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform : uppercase;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);
}
div.pregled a:hover{
  background: #ea2e49;  
    
    
}
/*Prikaz filmova dostupnih*/
div.pregled_film img{
    width: 260px;
    height: 100px;
    
}
div.pregled_film{  
    margin-left: -15px;
    background:#d3d1d1;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    height: 230px;  
    width: 280px;
    /*sjena na divu*/
    -webkit-box-shadow:0 0 20px green;
    -moz-box-shadow:0 0 20px green;
    box-shadow:0 0 20px green;
}
div.pregled_film p {
    margin-left: -15px;
    line-height: 100%;
    margin-left: 0px ;
    margin-top:  0px;
    text-transform : uppercase;
    font-weight: bold;
}
div.pregled_film h1{
    visibility: hidden;
}
a.rezerviraj {
    margin-left: -15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform : uppercase;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);
    padding: 3px 5px;
    
    
}
.svidja{
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform : uppercase;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d); 
    margin-left: 1px;  
    padding: 2px 5px; 
}
.odabrano{
    color: #49FF80;
    cursor: pointer;
    text-decoration: none;
    position: static;
    text-transform : uppercase;
    -webkit-box-shadow:0px 0px 50px #49FF80;
    -moz-box-shadow:0px 0px 50px #49FF80;
    box-shadow:0px 2px 50px #49FF80;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d); 
    margin-right:  1px;
    margin-left: 1px;  
    padding: 6px 9px; 
    
}
/*Prikaz tko je lajko kao na facebooku*/
        .prikaziLajkase{
            font-weight: bold;
            padding-top: 3px;
            padding-bottom: 3px;
            position: absolute;
            
            color: rgb(59,150,206);
            visibility: hidden;
            width: 100px; height: auto;
            background: #ccf5ff;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            text-align: center;
            margin-top: 5px;
            margin-left: 70px;
            -webkit-box-shadow:0 0 50px rgb(59,150,206);
            -moz-box-shadow:0 0 50px rgb(59,150,206);
            box-shadow:0 0 50px rgb(59,150,206);
        }
        .prikaziDislajk{
            font-weight: bold;
            padding-top: 3px;
            padding-bottom: 3px;
            position: absolute;
            
            color: rgb(59,150,206);
            visibility: hidden;
            width: 100px; height: auto;
            background: #ccf5ff;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            text-align: center; 
            vertical-align: middle;
            margin-top: 5px;
            margin-left: 70px;
            -webkit-box-shadow:0 0 50px rgb(59,150,206);
            -moz-box-shadow:0 0 50px rgb(59,150,206);
            box-shadow:0 0 50px rgb(59,150,206);
            }
        .zelenoLajk{ 
            cursor: pointer;
            padding: 4px 7px;
            background: green;
        }
        .zelenoLajk:hover +.prikaziLajkase{
            visibility: visible;
        }
        .crvenoLajk{
            cursor: pointer;
            padding: 4px 7px;
            background: red;
        }
        .crvenoLajk:hover +.prikaziDislajk{
            visibility: visible;
        }
/*Prikaz filmova koji su istekli ili popunjenji*/
div.pregled_film_red img{
    width: 260px;
    height: 100px;
}
div.pregled_film_red{
    margin-left: -15px;
    background:#d3d1d1;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    height: 200px;  
    width: 280px;
    /*sjena na divu*/
    -webkit-box-shadow:0 0 20px red;
    -moz-box-shadow:0 0 20px red;
    box-shadow:0 0 20px red; 
}
div.pregled_film_red p {
    line-height: 100%;
    margin-left: 0px ;
    margin-top:  0px;
    text-transform : uppercase;
    font-weight: bold;
}
div.pregled_film_red a {
    visibility: hidden;
}
div.pregled_film_red h1 {
    -webkit-transform: rotate(50deg);
    margin-left: 10px;
    margin-top: -150px;
    color: red;
    opacity: 0.7;
    text-transform : uppercase;
    font-weight: bold;
    font-size: 2em;
}
/*input za pretraživanje*/
.pretrazi{
    width: 170px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    float: right;
    background-color: white;
    color: black;
    border: 2px solid #36a0e6;
    
}
.search{
    
    background-image: url("../slike/search.png");
    border-radius: 13px;
    float: right;
    margin-top: -2px;
    background-size: cover;
    width:55px ;
    height:55px;
    margin-right: -55px;
}
.forma_pretrazivanja{
    margin-top: 20px;
    margin-right: 50px;
}
/* stranicenje*/
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-weight: bold;
    border: 1px solid #36a0e6;
    margin-left: 2px;
}
.pagination a:hover:not(.active) {
    color: white;
    background-color: #36a0e6;
}
/*Ikona za ispis svih korisnika na index stranici*/
.korisnici{
    cursor: pointer;
    background-image: url("../slike/korisnici.png");
   
    background-size: cover;
    width:100px ;
    height:100px;  
}
.korisniciP{
    visibility: hidden;
}
.korisnici:hover +.korisniciP{
    visibility: visible;
    color: white;
    font-weight: bold;
    margin-left: 6px;
}
.nazad{
    background-image: url("../slike/nazad.png");
    background-size: cover;
    position: relative;
    top: -46px;
    left: -56px;
    padding-bottom: 1px;
    padding-left: 40px;;
    padding-right: 20px;
    padding-top: 24px;   
    width:3px ;
    height:18px;  
    
     border-radius: 22px;
}