/*/ iz glavnog css-a*/
body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: left;
 /*background : #77c4d3;*/

}
.pozadina{
    height: auto;
    padding: auto;
    background-image: url("../slike/pozadina.jpg");
    background-size: cover;

}
.sadrzaj{
    font-size: 150%;
    width : 90%;
    height: 75%;
    background : rgba(255, 255, 255, 0.9);
    padding : 5%;
    margin-top: 5px; 
    
}
.sadrzaj h1{
    color: black;
    margin-bottom: 35px;
}
.desno{
  text-align: right;
  margin-right: auto;
  display: ruby-base-group;
  float: right;
  margin-right: 2px;
  font-size: 200%;
  
}
footer{
    text-align: center;
    position:fixed;
    margin-left: 60px;
    margin-right:54px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1px 0px 1px 0;
    list-style: none;
    /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background: #262123;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);*/
    
}
/* iz dokumentacije*/

.doku{
      
    width : auto;
    height: auto;
    background : rgba(255, 255, 255, 0.9);
    padding : 2%;
    margin-top: 5px;  
}
.slika{
    width : auto;
    height: auto;
   
    padding : 5%;
    margin-top: 5px;
   
}
.podaci{ 
    font-size: 120%;
    margin-left:  200px;
    margin-top: -240px;
    color: white;
    padding: 59px;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);
}
.doku h1{
    
    color: white;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);
}
.doku p {
    
    font-family: inherit;
    font-size: 25px;
    line-height: 150%;
    text-align: justify;
}
.doku h4 {
    font-size: 30px;
}
/* iz greske*/


input:invalid {
    border: 2px solid red;
}
fieldset.greske{

    font-size: 14px;
    width:  25%;
    padding: auto;
    float: right;
    
}
p.isp_greski{
  font-size: 14px; 
  line-height: 130%;
  color: red;
}
/*iz navigacija*/
/*body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px ;
  font-size: 13px;
  text-align: left;
  background : #77c4d3;}*/


ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 0px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li  {
  cursor: pointer;
  letter-spacing : 2px; 
  padding: 15px 20px;
  margin-right: -4px;
  text-transform : uppercase;
  display: inline-block;
  font-weight : normal;
  background: #262123;
  background-image: -webkit-linear-gradient(top, #262123, #705f5d);
  background-image: -moz-linear-gradient(top, #262123, #705f5d);
  background-image: -ms-linear-gradient(top, #262123, #705f5d);
  background-image: -o-linear-gradient(top, #262123, #705f5d);
  background-image: linear-gradient(to bottom, #262123, #705f5d);
  font-size: 200%;
}
a{
   color: white;
}
ul li:hover {
  background: #ea2e49;
  color: white;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;}

.prijavljeni{
margin-top: auto;  
margin-right: auto;
text-align: right;
    
}


h3:hover{
   color: red;  
}
.naslov{
    margin-bottom: -75px;
    margin-top: -50px;
    color: white;
    text-align: left;
    font-size:90px;
    font-weight: 800;
    font-family: sans-serif;
}
/*iz registracijaPrijavi_se*/
.zab{
    font-size: 120%;
    color: black;
}
.regOkvir{
    
    width : 90%;
    height: 135%;
    background : rgba(255, 255, 255, 0.9);
    padding : 5%;
    margin-top: 5px;
    
}

fieldset {
    border: 2px #555555 solid;
    font-size: 16px;
}
fieldset.prijava{
    font-size: 16px;
    width:  25%;
    padding: auto;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;
}
input.reg{
    width: 40%;
    padding: 8px 20px;
    
    box-sizing: border-box;
    display: inline-block;
    
}
label{
    font-size: 16px;
    display: inline-block;
    float: left;
    clear: left;
    font-size: 200%;
    width: 250px;
}
    input.prijava {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.desno{
  text-align: right;
  margin-right: auto;
  display: ruby-base-group;
  float: right;
  margin-right: 2px;
}
.gumb{
     font-size: 200%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;  
}
.gumb:hover{
    background-color: #555555;
    color: white;
}
a[target="_blank"] {
    text-decoration: none;
    

}
h5 {
    
    text-align: center;
    cursor: pointer;
    margin: auto;
}
h5:hover{
    font-size: 110%;
}
/*iz tablice*/
table {
   

color: #333;
font-family: Helvetica, Arial, sans-serif;
font-size: 16px;
width: auto;
border-collapse:collapse;
border-spacing: 0;


}

th {
    
background: #DFDFDF; /* Darken header a bit */
font-weight: bold;
text-align:  left;
text-align:  center;
padding-bottom:10px;
padding-top: 10px; 
}

td {

background: #FAFAFA;
text-align: center;
padding-bottom:7px;
padding-top: 7px;
padding-right: 7px;
}
.tab{
   font-size: 120%;
   margin-top:  15px;
   display: list-item;
    
}

h7{
    
    color: black;
    
}
.red{
    
    color: red;
    
}
/*Padajući izbornik*/

.dropbtn {
    font-size: 120%;
  cursor: pointer;
  letter-spacing : 2px; 
  text-transform : uppercase;
  padding: 15px 10px 15px 10px;
  border: none;
  color: white;
  width: 203px;
  text-decoration: underline;
  /*sjene pozadine*/
  background-image: -webkit-linear-gradient(top, #262123, #705f5d);
  background-image: -moz-linear-gradient(top, #262123, #705f5d);
  background-image: -ms-linear-gradient(top, #262123, #705f5d);
  background-image: -o-linear-gradient(top, #262123, #705f5d);
  background-image: linear-gradient(to bottom, #262123, #705f5d);
}
.odjava{
    font-size: 120%;
    cursor: pointer;
    background-image: url("../slike/odjava.jpg");
    border-radius: 15px;
    background-size: cover;
    width:50px ;
    height:50px;
    margin-left: 40px;
    padding: 12px 16px;
}
.opcije{
    cursor: pointer;
    background-image: url("../slike/opcije.png");
    border-radius: 15px;
    float: right;
    margin-top: -37px;
    background-size: cover;
    width:70px ;
    height:70px;
    border: 1px solid white;
}
.opcije:hover .dropdown-content{
    display: block;
}

.dropdown-content {
    font-size: 120%;
    display: none;
    margin-left: -130px;
    margin-top: 70px;
    background-color: #f9f9f9;
    min-width: available;

}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: auto;
}

.dropdown-content a:hover {background-color: #d3d1d1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover  {
    background-color: #ea2e49;
}
/*pregled lokacija u divovima*/
div.pregled img{
    width: 200px;
    height: 300px;
    padding-top: 12px;
    

}
div.pregled {
    background:#d3d1d1;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    height: 280px;  
    width: 60%;
    height: 360px;
    /*sjena na divu*/
    -webkit-box-shadow:0 0 20px rgb(59,150,206);
    -moz-box-shadow:0 0 20px rgb(59,150,206);
    box-shadow:0 0 20px rgb(59,150,206);
}
div.pregled p {
    line-height: 200%;
    margin-left: 215px ;
    margin-top:  -310px;
    text-transform : uppercase;
    font-weight: bold;
}
div.pregled a {
    padding: 14px 25px;
    margin-left: 210px ;
    margin-right: 500px;
    line-height: 400%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform : uppercase;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);
}
div.pregled a:hover{
  background: #ea2e49;  
    
    
}
/*Prikaz filmova dostupnih*/
div.pregled_film img{
    width: 588px;
    height: 350px;
    padding-top: 12px;
}
div.pregled_film{   
    background:#d3d1d1;
    margin-bottom: 20px;
    
    padding: 15px 15px 15px 25px;
    height: 400px;  
    width: 950px;
    /*sjena na divu*/
    -webkit-box-shadow:0 0 20px green;
    -moz-box-shadow:0 0 20px green;
    box-shadow:0 0 20px green;
}
div.pregled_film p {
    line-height: 170%;
    margin-left: 600px ;
    margin-top:  -450px;
    text-transform : uppercase;
    font-weight: bold;
}


div.pregled_film h1{
    visibility: hidden;
}
a.rezerviraj {
    font-size: 120%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform : uppercase;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d);
    float: right;
    padding: 30px 80px;
    margin-right: 50px;
    
}
.svidja{
    
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform : uppercase;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d); 
    margin-right:  5px;
    margin-left: 2px;  
    padding: 12px 75px; 
}
.odabrano{
    color: #49FF80;
    cursor: pointer;
    text-decoration: none;
    position: static;
    text-transform : uppercase;
    -webkit-box-shadow:0px 0px 50px #49FF80;
    -moz-box-shadow:0px 0px 50px #49FF80;
    box-shadow:0px 2px 50px #49FF80;
    background-image: -webkit-linear-gradient(top, #262123, #705f5d);
    background-image: -moz-linear-gradient(top, #262123, #705f5d);
    background-image: -ms-linear-gradient(top, #262123, #705f5d);
    background-image: -o-linear-gradient(top, #262123, #705f5d);
    background-image: linear-gradient(to bottom, #262123, #705f5d); 
    margin-right:  5px;
    margin-left: 2px;  
    padding: 16px 90px; 
    
}
/*Prikaz tko je lajko kao na facebooku*/
        .prikaziLajkase{
            font-weight: bold;
            padding-top: 3px;
            padding-bottom: 3px;
            position: absolute;
            float: left;
            color: rgb(59,150,206);
            visibility: hidden;
            width: 100px; height: auto;
            background: #ccf5ff;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            text-align: center;
            margin-top: 5px;
            margin-left: 250px;
            -webkit-box-shadow:0 0 50px rgb(59,150,206);
            -moz-box-shadow:0 0 50px rgb(59,150,206);
            box-shadow:0 0 50px rgb(59,150,206);
        }
        .prikaziDislajk{
            font-weight: bold;
            padding-top: 3px;
            padding-bottom: 3px;
            position: absolute;
            float:right;
            color: rgb(59,150,206);
            visibility: hidden;
            width: 100px; height: auto;
            background: #ccf5ff;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            text-align: center; 
            vertical-align: middle;
            margin-top: 5px;
            margin-left: 250px;
            -webkit-box-shadow:0 0 50px rgb(59,150,206);
            -moz-box-shadow:0 0 50px rgb(59,150,206);
            box-shadow:0 0 50px rgb(59,150,206);
            }
        .zelenoLajk{
            display: inline-block;
            cursor: pointer;
            padding: 14px 27px;
            background: green;
        }
        .zelenoLajk:hover +.prikaziLajkase{
            visibility: visible;
        }
        .crvenoLajk{
            display: inline-block;
            cursor: pointer;
            padding: 14px 27px;
            background: red;

        }
        .crvenoLajk:hover +.prikaziDislajk{
            visibility: visible;
        }

/*Prikaz filmova koji su istekli ili popunjenji*/
div.pregled_film_red img{
    width: 600px;
    height: 350px;
    padding-top: 12px;
    

}
div.pregled_film_red{
    background:#d3d1d1;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    height: 380px;  
    width: 950px;
    /*sjena na divu*/
    -webkit-box-shadow:0 0 20px red;
    -moz-box-shadow:0 0 20px red;
    box-shadow:0 0 20px red; 
}
div.pregled_film_red p {
    line-height: 200%;
    margin-left: 600px ;
    margin-top:  -360px;
    text-transform : uppercase;
    font-weight: bold;
}
div.pregled_film_red a {
    visibility: hidden;
}
div.pregled_film_red h1 {
    -webkit-transform: rotate(20deg);
    margin-left: 150px;
    margin-top: -320px;
    color: red;
    opacity: 0.7;
    text-transform : uppercase;
    font-weight: bold;
    font-size: 3em;
}
/*input za pretraživanje*/
.pretrazi{
    height:40px ;
    font-size: 120%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
   float: right;
    background-color: white;
    color: black;
    border: 2px solid #36a0e6;
    
}
.search{
    
    background-image: url("../slike/search.png");
    border-radius: 13px;
    float: right;
    margin-top: -2px;
    background-size: cover;
    width:75px ;
    height:75px;
    margin-right: 100px;
}
.forma_pretrazivanja{
    
    margin-top: 20px;
    margin-right: 50px;
}
/* stranicenje*/
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-weight: bold;
    border: 1px solid #36a0e6;
    margin-left: 2px;
}



.pagination a:hover:not(.active) {
    color: white;
    background-color: #36a0e6;
}
/*Ikona za ispis svih korisnika na index stranici*/
.korisnici{
    cursor: pointer;
    background-image: url("../slike/korisnici.png");
    
    margin-top: 20px;
    background-size: cover;
    width:100px ;
    height:100px;  
}
.korisniciP{
    visibility: hidden;
}
.korisnici:hover +.korisniciP{
    visibility: visible;
    color: white;
    font-weight: bold;
    margin-left: 6px;
}
.nazad{
    background-image: url("../slike/nazad.png");
    background-size: cover;
    margin-top: 20px;
    padding-bottom: 1px;
    padding-left: 20px;;
    padding-right: 20px;
    padding-top: 24px;   
    width:45px ;
    height:45px;  
    border: 1px solid white;
     border-radius: 22px;
}